@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }

  #lead-print-area,
  #lead-print-area * {
    visibility: visible;
  }

  #lead-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
